body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

header {
    background: #1e90ff;
    color: white;
    text-align: center;
    padding: 25px;
}

.plans {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 260px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.mtn {
    background-color: #FFCC00;
}

.telecel {
    background-color: #FF5733
}

.tigo {
    background-color: #007AFF;
}
.card h2 {
    color: #1e90ff;
}

button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    background: #25D366;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #1ebe5d;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}

.phoneInput {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}

